body {
    color: white;
    background: black;
}

.heading {
    text-align: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #6059eb, rgba(0, 0, 0, 0))
}

.comon-days,
.comon-report {
    background: rgba(23, 213, 219, 0.314);
    display: grid;
    align-content: center;
    width: 100%;
    height: 205px;
    border-radius: 8px;
    color: #fff;
    padding: 30px;
    justify-content: center;
    text-align: center;
    position: relative;
    border: 1px solid #6059eb;

}

.comon-report {
    margin-bottom: 15px;
    display: inline-block;
}

.weather-main .heading,
.airqualityindex {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
}

.airqualityindex {
    font-weight: 500;
    text-decoration: underline blue;
}

.backbtn img {
    width: 5%;
    margin-top: 2%;
}

@media only screen and (max-width: 600px) {

    
    .comon-days,
    .comon-report {

        width: 100%;
        height: 130px;
        margin-left: 10px;
    }

    .backbtn img {
        width: 12%;
        margin-top: 2%;
        margin-bottom: -5%;
    }
}