body {
    color: white;
    background: black;
}

#google-element {}

.content {
    font-size: 20px;
    font-family: "Verdana";
}

.btn_click {

    background: #6059eb;
    border-radius: 25px;
    width: 120px;
    height: 40px;
    margin: auto;
    display: block;
}

.carousel-caption {
    margin-bottom: 3%;
    text-align: left;
}

.carousel-caption .WIcon {
    width: 18%;
    margin-left: 70%;
    margin-bottom: -4%;
}

.carousel-caption .temp {
    margin-bottom: -10%;
    font-size: 80px;
    font-weight: 500;
}

.carousel-caption .location {

    font-size: 40px;
}

.carousel-caption .weather {
    text-transform: capitalize;
    font-size: 20px;
}

.carousel-indicators .active {
    background-color: #6059eb;
}


.heading {
    text-align: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #6059eb, rgba(0, 0, 0, 0))
}

.radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-container {
    position: relative;
    height: 80px;
    width: 10%;
    margin: 2%;
}

.input-container input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid #6059eb;
    border-radius: 8px;
    transition: all 300ms ease;
}


.input-container label {
    color: solid #6059eb;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 30px;
}

input:checked+.radio-tile {
    background-color: #6059eb;
    box-shadow: 0 0 20px #6059eb;
    transform: scale(1.1);
}

input:hover+.radio-tile {
    box-shadow: 0 0 20px #6059eb;

}


.cityname,
.citypin {
    text-align: center;
}

input[type=text],
input[type=number],
#t2 {
    width: 20%;
    height: 35px;
}


.left-sec-d1 {
    background: rgba(23, 213, 219, 0.314);
    display: grid;
    align-content: center;
    width: 100%;
    height: 450px;
    border-radius: 8px;
    color: #fff;
    padding: 40px;
    border: 1px solid #6059eb;
}

.comon-days,
.comon-report {
    background: rgba(23, 213, 219, 0.314);
    display: grid;
    align-content: center;
    width: 100%;
    height: 205px;
    border-radius: 8px;
    color: #fff;
    padding: 30px;
    justify-content: center;
    text-align: center;
    position: relative;
    border: 1px solid #6059eb;

}

.comon-report {
    margin-bottom: 15px;
    display: inline-block;
}

.weather-main .heading {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.findpoll input[type=button]
{
    border-radius: 5px;
    margin-top: 3%;
    background-color: black;
    color: white;
    font-size: 20px;
    border: 3px solid #6059eb;
    transition: all 300ms ease;
    padding: 0.4%;
}

.findpoll input[type=button]:hover
{
    box-shadow: 0 0 20px #6059eb;
}

/*mobile view*/

@media only screen and (max-width: 600px) {

    .content {
        font-size: 15px;
    }


    .carousel-caption {
        margin-bottom: -9%;
    }

    .carousel-caption .WIcon {
        width: 20%;
        margin-left: 70%;
        margin-bottom: -15%;
    }

    .carousel-caption .temp {
        margin-bottom: -5%;
        font-size: 20px;
        font-weight: 500;
    }

    .carousel-caption .location {

        font-size: 20px;
    }

    .carousel-caption .weather {
        font-size: 10px;
    }

    .carousel-indicators {
        width: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -2px;
    }

    .details,
    p {
        font-size: 10px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 20px;
    }



    .radio-tile-group {
        margin-top: 20px;
    }

    .input-container {

        height: 50px;
        width: 28%;
    }

    .input-container label {
        font-size: 10px;
        line-height: 20px;
    }

    .radio-tile i {
        font-size: 20px;
    }

    input[type=text],
    input[type=number],
    #t2 {
        width: 50%;
        height: 25px;
    }

    input[type=button] {
        margin-top: 5%;
    }

    .citypin input[type=number] {
        margin-top: 5%;

    }

    .smallfont {
        font-size: medium;
    }

    .comon-days,
    .comon-report {

        width: 100%;
        height: 130px;

    }

    .left-sec-d1 {
        width: 100%;
        height: 300px;
    }

    .findpoll input[type=button]
    {
        font-size: 10px;
        padding: 1%;
    }
}
